* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

div {
  height: 175px;
  width: 400px;
  margin-top: 4rem;
  padding: 1rem 0.2rem 0 0.2rem;
  border: solid 1px #ddd;
}

[type='email'] {
  margin-bottom: 0.5rem;
}

.validation {
  margin-top: 0.5rem;
  color: darkred;
  font-size: 0.9rem;
}
